@import '../colors.scss';

.news {
    display: flex;
    align-items: center;
    background-color: $background;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    height: 50px;

    .title {
        margin-left: 20px;
    }
    .point {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b1b1b1;
        border-radius: 10px;
        color: black;
        font-size: 11px;
        margin-left: auto;
        width: 60px;
        height: 20px;
    }

    &.active {
        background-color: $primary;
        color: white;
        .point {
            background-color: #777777;
            color: white;
        }
    }
}